/* stylelint-disable csstree/validator */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0.6rem;
}

::-webkit-scrollbar-track {
  background: rgba(16, 37, 53, 1);
}

::-webkit-scrollbar-thumb {
  background: rgba(33, 74, 107, 0.5);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(25, 27, 29, 1);
}

body {
  background-color: rgba(16, 37, 53, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: rgba(255, 255, 255, 0.8);
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
}

.flex {
  display: flex;
}

.main-section {
  width: 50%;
  flex-direction: column;
  gap: 1rem;
  max-height: 80%;
}

.edit-delete {
  gap: 1rem;
}

.my-tasks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 1.5rem;
  background-color: rgba(33, 74, 107, 0.5);
  border-radius: 0.5rem;
  box-shadow: rgba(6, 24, 44, 0.4) 0 0 0 2px, rgba(6, 24, 44, 0.65) 0 4px 6px -1px, rgba(255, 255, 255, 0.08) 0 1px 0 inset;
}

.input-items {
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
}

.edit-input {
  display: none;
  border: none;
  width: 95%;
  height: 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  background-color: rgba(33, 74, 107, 0.2);
  color: rgba(255, 255, 255, 0.7);
  padding: 1rem;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  box-shadow: rgba(6, 24, 44, 0.4) 0 0 0 2px, rgba(6, 24, 44, 0.65) 0 4px 6px -1px, rgba(255, 255, 255, 0.08) 0 1px 0 inset;
}

.list-item {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 1rem;
  width: 100%;
  border-radius: 0.5rem;
  background-color: rgba(33, 74, 107, 0.4);
}

.task-description {
  font-size: 1.3rem;
}

.created-at {
  font-size: 0.65rem;
}

.active {
  text-decoration-line: line-through;
}

.task-main {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  width: 80%;
}

.list-header {
  font-size: 1.5rem;
  font-weight: 600;
}

.clear {
  width: 100%;
  justify-content: center;
}

.clear-list {
  border: none;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.2rem;
  font-weight: 600;
  background-color: rgba(33, 74, 107, 0.7);
  transition: 0.4s;
  padding: 1.2rem;
  border-radius: 0.5rem;
}

.clear-list:hover {
  background-color: rgba(255, 255, 255, 0.7);
  color: rgba(16, 37, 53, 0.9);
}

.task-column {
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
}

.text-field {
  border: none;
  width: 95%;
  height: 2rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  background-color: rgba(33, 74, 107, 0.2);
  color: rgba(255, 255, 255, 0.7);
  padding: 2rem 1rem;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  box-shadow: rgba(6, 24, 44, 0.4) 0 0 0 2px, rgba(6, 24, 44, 0.65) 0 4px 6px -1px, rgba(255, 255, 255, 0.08) 0 1px 0 inset;
}

::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.text-field:focus {
  outline: none;
  background-color: rgba(33, 74, 107, 0.7);
}

.fa-circle-plus {
  color: rgba(99, 128, 151, 0.5);
  font-size: 2rem;
  box-shadow: rgba(6, 24, 44, 0.4) 0 0 0 2px, rgba(6, 24, 44, 0.65) 0 4px 6px -1px, rgba(255, 255, 255, 0.08) 0 1px 0 inset;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s;
}

.fa-circle-plus:hover {
  color: rgba(255, 255, 255, 0.6);
}

.fa-trash,
.fa-file-pen {
  color: rgba(99, 128, 151, 0.5);
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.5s;
}

.fa-trash:hover {
  color: rgba(248, 11, 11, 0.9);
}

.fa-file-pen:hover {
  color: rgba(11, 248, 43, 0.9);
}

.todolist {
  padding: 1.5rem 0;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

input[type="checkbox"] {
  height: 1.5rem;
  width: 1.5rem;
  border: none;
  accent-color: #e8ecf0;
}

@media only screen and (max-width: 600px) {
  .main-section {
    width: 95%;
  }

  .list-item {
    padding: 1rem;
  }

  .my-tasks {
    padding: 1rem;
  }
}
